<!DOCTYPE html>
<html ng-app="loginApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Modify the User profile</title>
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-motion/dist/angular-motion.min.css">
</head>
<body>

<nav class="navbar navbar-default ">
    <div class="container-fluid" ng-controller="UpdateController" as UpdateCtrl>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" style="padding: 0px;width: 90px;height: 50px">
                <img  id="img_perfil"  style="max-width: 35px;margin-left: 27.5%;margin-top:7.5%; " src="img/profil_dummy/perfil1.png">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
                <li><a href="calendar.html">Calendar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Cerrar Sesión</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">

    <!--
    <div class="col-md-4">
        <span class="label label-primary" style="float:left">Username:</span>
        <input type="text" class="form-control" placeholder="userEA" aria-describedby="basic-addon1" ng-model="signUpInfo.username">
    </div>
    -->


    <div class="col-md-4 col-sm-offset-2">

        <select name="nationality" ng-model="signUpInfo.nacionalidad" ng-init="signUpInfo.nacionalidad='spanish'">
            <option value="">-- select one --</option>
            <option value="afghan">Afghan</option>
            <option value="albanian">Albanian</option>
            <option value="algerian">Algerian</option>
            <option value="american">American</option>
            <option value="andorran">Andorran</option>
            <option value="angolan">Angolan</option>
            <option value="antiguans">Antiguans</option>
            <option value="argentinean">Argentinean</option>
            <option value="armenian">Armenian</option>
            <option value="australian">Australian</option>
            <option value="austrian">Austrian</option>
            <option value="azerbaijani">Azerbaijani</option>
            <option value="bahamian">Bahamian</option>
            <option value="bahraini">Bahraini</option>
            <option value="bangladeshi">Bangladeshi</option>
            <option value="barbadian">Barbadian</option>
            <option value="barbudans">Barbudans</option>
            <option value="batswana">Batswana</option>
            <option value="belarusian">Belarusian</option>
            <option value="belgian">Belgian</option>
            <option value="belizean">Belizean</option>
            <option value="beninese">Beninese</option>
            <option value="bhutanese">Bhutanese</option>
            <option value="bolivian">Bolivian</option>
            <option value="bosnian">Bosnian</option>
            <option value="brazilian">Brazilian</option>
            <option value="british">British</option>
            <option value="bruneian">Bruneian</option>
            <option value="bulgarian">Bulgarian</option>
            <option value="burkinabe">Burkinabe</option>
            <option value="burmese">Burmese</option>
            <option value="burundian">Burundian</option>
            <option value="cambodian">Cambodian</option>
            <option value="cameroonian">Cameroonian</option>
            <option value="canadian">Canadian</option>
            <option value="cape verdean">Cape Verdean</option>
            <option value="central african">Central African</option>
            <option value="chadian">Chadian</option>
            <option value="chilean">Chilean</option>
            <option value="chinese">Chinese</option>
            <option value="colombian">Colombian</option>
            <option value="comoran">Comoran</option>
            <option value="congolese">Congolese</option>
            <option value="costa rican">Costa Rican</option>
            <option value="croatian">Croatian</option>
            <option value="cuban">Cuban</option>
            <option value="cypriot">Cypriot</option>
            <option value="czech">Czech</option>
            <option value="danish">Danish</option>
            <option value="djibouti">Djibouti</option>
            <option value="dominican">Dominican</option>
            <option value="dutch">Dutch</option>
            <option value="east timorese">East Timorese</option>
            <option value="ecuadorean">Ecuadorean</option>
            <option value="egyptian">Egyptian</option>
            <option value="emirian">Emirian</option>
            <option value="equatorial guinean">Equatorial Guinean</option>
            <option value="eritrean">Eritrean</option>
            <option value="estonian">Estonian</option>
            <option value="ethiopian">Ethiopian</option>
            <option value="fijian">Fijian</option>
            <option value="filipino">Filipino</option>
            <option value="finnish">Finnish</option>
            <option value="french">French</option>
            <option value="gabonese">Gabonese</option>
            <option value="gambian">Gambian</option>
            <option value="georgian">Georgian</option>
            <option value="german">German</option>
            <option value="ghanaian">Ghanaian</option>
            <option value="greek">Greek</option>
            <option value="grenadian">Grenadian</option>
            <option value="guatemalan">Guatemalan</option>
            <option value="guinea-bissauan">Guinea-Bissauan</option>
            <option value="guinean">Guinean</option>
            <option value="guyanese">Guyanese</option>
            <option value="haitian">Haitian</option>
            <option value="herzegovinian">Herzegovinian</option>
            <option value="honduran">Honduran</option>
            <option value="hungarian">Hungarian</option>
            <option value="icelander">Icelander</option>
            <option value="indian">Indian</option>
            <option value="indonesian">Indonesian</option>
            <option value="iranian">Iranian</option>
            <option value="iraqi">Iraqi</option>
            <option value="irish">Irish</option>
            <option value="israeli">Israeli</option>
            <option value="italian">Italian</option>
            <option value="ivorian">Ivorian</option>
            <option value="jamaican">Jamaican</option>
            <option value="japanese">Japanese</option>
            <option value="jordanian">Jordanian</option>
            <option value="kazakhstani">Kazakhstani</option>
            <option value="kenyan">Kenyan</option>
            <option value="kittian and nevisian">Kittian and Nevisian</option>
            <option value="kuwaiti">Kuwaiti</option>
            <option value="kyrgyz">Kyrgyz</option>
            <option value="laotian">Laotian</option>
            <option value="latvian">Latvian</option>
            <option value="lebanese">Lebanese</option>
            <option value="liberian">Liberian</option>
            <option value="libyan">Libyan</option>
            <option value="liechtensteiner">Liechtensteiner</option>
            <option value="lithuanian">Lithuanian</option>
            <option value="luxembourger">Luxembourger</option>
            <option value="macedonian">Macedonian</option>
            <option value="malagasy">Malagasy</option>
            <option value="malawian">Malawian</option>
            <option value="malaysian">Malaysian</option>
            <option value="maldivan">Maldivan</option>
            <option value="malian">Malian</option>
            <option value="maltese">Maltese</option>
            <option value="marshallese">Marshallese</option>
            <option value="mauritanian">Mauritanian</option>
            <option value="mauritian">Mauritian</option>
            <option value="mexican">Mexican</option>
            <option value="micronesian">Micronesian</option>
            <option value="moldovan">Moldovan</option>
            <option value="monacan">Monacan</option>
            <option value="mongolian">Mongolian</option>
            <option value="moroccan">Moroccan</option>
            <option value="mosotho">Mosotho</option>
            <option value="motswana">Motswana</option>
            <option value="mozambican">Mozambican</option>
            <option value="namibian">Namibian</option>
            <option value="nauruan">Nauruan</option>
            <option value="nepalese">Nepalese</option>
            <option value="new zealander">New Zealander</option>
            <option value="ni-vanuatu">Ni-Vanuatu</option>
            <option value="nicaraguan">Nicaraguan</option>
            <option value="nigerien">Nigerien</option>
            <option value="north korean">North Korean</option>
            <option value="northern irish">Northern Irish</option>
            <option value="norwegian">Norwegian</option>
            <option value="omani">Omani</option>
            <option value="pakistani">Pakistani</option>
            <option value="palauan">Palauan</option>
            <option value="panamanian">Panamanian</option>
            <option value="papua new guinean">Papua New Guinean</option>
            <option value="paraguayan">Paraguayan</option>
            <option value="peruvian">Peruvian</option>
            <option value="polish">Polish</option>
            <option value="portuguese">Portuguese</option>
            <option value="qatari">Qatari</option>
            <option value="romanian">Romanian</option>
            <option value="russian">Russian</option>
            <option value="rwandan">Rwandan</option>
            <option value="saint lucian">Saint Lucian</option>
            <option value="salvadoran">Salvadoran</option>
            <option value="samoan">Samoan</option>
            <option value="san marinese">San Marinese</option>
            <option value="sao tomean">Sao Tomean</option>
            <option value="saudi">Saudi</option>
            <option value="scottish">Scottish</option>
            <option value="senegalese">Senegalese</option>
            <option value="serbian">Serbian</option>
            <option value="seychellois">Seychellois</option>
            <option value="sierra leonean">Sierra Leonean</option>
            <option value="singaporean">Singaporean</option>
            <option value="slovakian">Slovakian</option>
            <option value="slovenian">Slovenian</option>
            <option value="solomon islander">Solomon Islander</option>
            <option value="somali">Somali</option>
            <option value="south african">South African</option>
            <option value="south korean">South Korean</option>
            <option value="spanish">Spanish</option>
            <option value="sri lankan">Sri Lankan</option>
            <option value="sudanese">Sudanese</option>
            <option value="surinamer">Surinamer</option>
            <option value="swazi">Swazi</option>
            <option value="swedish">Swedish</option>
            <option value="swiss">Swiss</option>
            <option value="syrian">Syrian</option>
            <option value="taiwanese">Taiwanese</option>
            <option value="tajik">Tajik</option>
            <option value="tanzanian">Tanzanian</option>
            <option value="thai">Thai</option>
            <option value="togolese">Togolese</option>
            <option value="tongan">Tongan</option>
            <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
            <option value="tunisian">Tunisian</option>
            <option value="turkish">Turkish</option>
            <option value="tuvaluan">Tuvaluan</option>
            <option value="ugandan">Ugandan</option>
            <option value="ukrainian">Ukrainian</option>
            <option value="uruguayan">Uruguayan</option>
            <option value="uzbekistani">Uzbekistani</option>
            <option value="venezuelan">Venezuelan</option>
            <option value="vietnamese">Vietnamese</option>
            <option value="welsh">Welsh</option>
            <option value="yemenite">Yemenite</option>
            <option value="zambian">Zambian</option>
            <option value="zimbabwean">Zimbabwean</option>
        </select>

        <input disabled type="text" class="form-control" placeholder="Español" aria-describedby="basic-addon1" ng-model="signUpInfo.nacionalidad">

    </div>
</div>


<br>
<div class="row">
    <div class="col-md-4">
        <span class="label label-warning" style="float:left">Email:</span>
        <input class="form-control"  type="email" placeholder="userEA@example.com" aria-describedby="basic-addon1" ng-model="signUpInfo.email" required>
    </div>



    <div class="col-md-4 col-sm-offset-2">

        <select name="nationality" ng-model="signUpInfo.idiomas" ng-init="signUpInfo.idiomas='Español'" style="width: 170px">
            <option value="">-- select one --</option>
            <option value="English">  English    </option>
            <option value="Español">  Español    </option>
            <option value="Frances">  Frances    </option>
            <option value="Chino">     中文          </option>
        </select>

        <input  disabled type="text" class="form-control" placeholder="Español" aria-describedby="basic-addon1" ng-model="signUpInfo.idiomas">

    </div>

</div>



<br>

<div class="row">

    <!--
    <div class="col-md-4">
        <span class="label label-success" style="float:left">Password:</span>
        <input type="password" class="form-control" placeholder="contraseña" aria-describedby="basic-addon1" ng-model="signUpInfo.password">
    </div>
    -->

    <div class="col-md-4 col-sm-offset-2">
        <span class="label label-success" style="float:left">Evento que busco*:</span>

        <input  type="text" class="form-control" aria-describedby="basic-addon1" ng-init="signUpInfo.needs='Deporte'" ng-model="signUpInfo.needs" required>

        <select multiple ng-model="signUpInfo.needs" required style="width: 170px">

            <option value="Deporte">Deporte</option>

            <option value="Musica">Musica</option>

            <option value="Cultura">Cultura</option>

            <option value="Fiesta">Fiesta</option>

        </select>


    </div>

</div>

<br>

<div class="row">
    <!--
    <div class="col-md-4">
        <span class="label label-danger" style="float:left">Password:</span>
        <input type="password" class="form-control" placeholder="repetir contraseña" aria-describedby="basic-addon1">
    </div>
    -->

    <div class="col-md-4 col-sm-offset-2">
        <span class="label label-danger" style="float:left">Evento que ofrezco*:</span>
        <input  type="text" class="form-control" ng-init="signUpInfo.offers='Deporte'" aria-describedby="basic-addon1" ng-model="signUpInfo.offers" required>

        <select multiple ng-model="signUpInfo.offers" required style="width: 170px">

            <option value="Deporte">Deporte</option>

            <option value="Musica">Musica</option>

            <option value="Cultura">Cultura</option>

            <option value="Fiesta">Fiesta</option>

        </select>

    </div>

</div>

<div class="row">
    <div class="col-lg-10">
        <span class="label label-info" style="margin-right:480px ">Descripcion:</span>
        <textarea class="form-control" rows="3" style="margin-left: 1px" ng-model="signUpInfo.description"></textarea>
    </div>

</div>

</div>

<div >
    <button type="button" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary" onclick="signupUser()">Save changes</button>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/js-cookie/src/js.cookie.js"></script>
<script src="js/login.js"></script>

</body>
</html>