#calendar-panel {
    border: transparent;
    border-style: solid;
    box-shadow: 5px 5px 5px #e2d9d4;
}
#event-panel {
    width: 100%;
    height: 100%;
}

.calendar_event:hover {
    background-color: #ff4060;
}