html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*Boton Nuevo evento*/
.paper-button.paper-floating-action-button {
    bottom:30px;
    right:60px;
    position: absolute;
    border: none;
    font-size: 50px;
    color: white;
    background-color: #4c80ff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
    box-shadow: 3px 3px 3px 0px rgba(41, 41, 41, 0.3);
    z-index: 90;
    outline: none;
    visibility: visible
}

.paper-button.paper-floating-action-button:hover {
    background-color: #ff4060;
}

.exit-button{
    top: 0px;
    right:0px;
    position: absolute;
    z-index: 90;
    text-align: right;
    background-color: transparent;
    font-size: 30px;
    border-color: transparent;
    outline: none;
    float: right;
}
.fa.fa-times{
    color: #000000;
}




/*Panel busqueda No incluye el imput y boton */
#search {
    position: absolute;
    width: 470px;
    height: 40px;
    margin-left: 12px;
    margin-top: 17px;
    z-index: 5;
}

#my {
    position: absolute;
    width: 60px;
    height: 40px;
    top:17px;
    right:80px;
    z-index: 8;
}

#n-evento {
    position: absolute;
    width: 470px;
    height: 40px;
    margin-left: 12px;
    margin-top: 17px;
    z-index: 5;
    alignment: right;
}
.form-control{
    height: 40px;
}
.btn.btn-primary{
    height: 40px;
}



/*Panel de etiquetas*/
#panel_tag {
    position: absolute;
    width: 400px;
    height: auto;
    margin-left: 12px;
    margin-top: 65px;
    z-index: 99;
    visibility: visible;
}

/*Panel de informacion del marcador*/
#panel_info {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 12px;
    margin-top: 65px;
    z-index: 6;
    border-style: solid;
    background-color: #ffffff;
    visibility: hidden;
}

#panel_new_event {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 12px;
    margin-top: 65px;
    z-index: 6;
    border-style: solid;
    background-color: #ffffff;
    visibility: hidden;
}


/*etiquetas*/
.list-group-item{
    width: 400px;
    margin: 1px 1px 1px 1px;
}
.fa{
    color: white;
}
.join-button{
    position: absolute;
    bottom: 10px;
    left : 10px;
    width: 100px;
    height: 40px;
}


/*Panel evento*/
#panelevento {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 400px;
    height: auto;
    margin-left: 12px;
    margin-top: 65px;
    border-color: #4d90fe;
    z-index: 5;
    padding: 11px 11px 11px 11px;
}


/* Botton seach
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    width: 400px;
    height: 40px;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 12px;
    padding: 11px 11px 11px 11px;
    text-overflow: ellipsis;

}
/*Boton seach
#pac-input:focus {
    border-color: #4d90fe;
}
.pac-container {
    font-family: Roboto;
}
*/